<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PulmonaryDisease/src/SVMTools/svm_scale.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="SVMTools.svm_scale"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-s &quot;C:\Users\Ryan Lacey\Desktop\sp&quot; &quot;C:\Users\Ryan Lacey\Desktop\points2&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PulmonaryDisease"/>
</launchConfiguration>
